
%div#new_electorate
%div#messagehere

%div.row
  %div.center
    %div#cell
      %div.center2
        = link_to('Create new Electorate', new_electorate_path, :remote => true, :class => 'button')
      %div.center
  

    %div.clear
  %div.large-8.columns



