<div class="container">
<div class="qldmap"><img src='images/qld.png'></div>
<div class="table">
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td >
          Elect
      </td>
    
      <td >
          CURRENT MP
      </td>
      <td>
          %
      </td>
      <td>
          OPPOSITION
      </td>
      <td>
          %
      </td>
	  </tr>
		<% Party.order(['electorate_id', 'polls desc']).each_with_index do |e, index| %>
  	
			<% if index.even? %>
			 <tr>
			<% end %>	

			<% if index.even? %>
      <td >
        <%= e.electorate.name %>
      </td>
      <% end %>

      <td >
        <%= e.candidate %>
      </td>
      <td>
        <%= e.polls %>
      </td>

			<% if index.odd? %>
			 </tr>
			<% end %>	

  <% end %>
  </table>
  
            
            
</div>
</div>
</div>
            