<div class="container">
<div class="qldmap"><%= image_tag('qld.png') %></div>
<div class="table">
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
          ELECTORATE
      </td>
      <td >
          CURRENT MP
      </td>
      <td>
          2010 SWING %
      </td>
	  </tr>
		<% @electorates.each do |e| %>
  	<tr>
      <td >
        <%= e.name %>
      </td>
      <td>
        <%= e.sitting_mp %>
      </td>
      <td>
          Row 1
      </td>
  	</tr>
  <% end %>
  </table>
</div>
</div>
</div>
            