<p id="about">About</p>

<p>
	ProjectElect was born out of the desire to understand and visualise the Australian polling data for the 2013 Federal election. We wanted to make it easy for people to see a visual representation of the current polling data.
</p>
<p>
	Our goal is to help people understand who the candidates are and what the latest polling data is revealing to the public.
</p>




