<div class="container">
	<div class="map"><div id="map"></div></div>
	<div class="graph">
	<div id="testing" style="height: 300px; width: auto;"></div>
	<div class="clear"></div>
	<div id="test" style="height: 300px; width: auto;"></div>
	<div class="clear"></div>
	</div>
	<hr>
	<h1>Have Your Say</h1>
	<div id="disqus_thread"></div>
</div>
