<div class="container">
<div id="map"></div>
</div>
<hr>
<div class="container">
	<div id="testing" style="height: 450px; width: 450px;"></div>
</div>
<div class="container">
<div id="test" style="height: 450px; width: 450px;"></div>
</div>
<div class="clear"></div>
<div class="container">
<h1>Have Your Say</h1>
<div id="disqus_thread"></div>
</div>