@import url(http://fonts.googleapis.com/css?family=Armata);
/* UNIVERSAL COLOURS */

$orange: #E13E06;
$greens: #00953D;
$blue: #4099FF;
$labor: #CB0F32;
$liberal: #006FB9;
$darkpink: #D9014F;
$mould: #A9AB19;
$white: #fff;
$red: #FF0000;
$yellow: #FFFF00;
$pink: #FA1451;
$lightpink: #E86275;
$black: #000;
$mustard: #F27405;
$purple: #730D45;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Armata', sans-serif;
  background-color: $white;
  color: $black;
}

a {
  text-decoration: none;
  color: $mustard;
}


a:hover {color:$purple;}

#container {
  width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

nav {
  margin: 10px 0;
  h3 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    a {
      color: $pink;
    }
  }
  h5 {
    margin: 0;
  }
  .site {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-top: 4px;
      padding-right: 20px;
      font-size: 0.9em;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.nav-bar {
  height: 1px;
  background-color: #F2F2F2;
  margin-top: 10px;
}

.creators {
  width: 100%;
  p {
    font-size: 0.7em;
  }
}

.button_field {
  width: 100%;
  text-align: center;
}

button {
  font-family: 'Armata', sans-serif;
  font-size: 1em;
  color: #fff !important;
  border-radius: 5px;
  word-spacing: 0.25em;
  text-transform: uppercase;
  border: none;
  line-height: 12px;
  padding: 12px 13px 11px;
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 12px;
  text-decoration: none;
  background: #999;
  &:hover {
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
  }
  &:hover {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.selected-button {
  cursor: default;
  background-color: #333333;
}

#about {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $purple;
}

#count {
  font-size: 1em;
  font-weight: 600;
  color: #76cc1e;
}

#coders a { 
  color: $pink;
}

.greens, .liberal, .labor {
  width: 33%;
  float: left;
  padding: 0 20px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  h2 {
    color: #76cc1e;
    margin: 10px 0 0 0;
  }
}

.laborcolour {
  color: $labor;
}

.greenscolour {
  color: $greens;
}

.liberalcolour {
  color: $liberal;
}

.peoplesvote {
  color: $pink;
}

.span {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #F2F2F2;
  font-size: 0.7em;
  h3 {
    margin: 0 0 16px 0;
  }
  p {
    margin: 0;
    color: #848484;
    float: left;
  }
  p.time {
    float: right;
  }
}

.twitter {
  height: 100px;
  width: 50px;
}

h1 {
  color: $orange;
}

#test, #testing {
  width: 100%;
  float: left;
}

.graph {
float: right;
width: 400px;
}

.map {
  float: left;
  width: 800px;
}

.CSSTableGenerator {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGenerator table{
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
  
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#cb0f32; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#006fb9; }.CSSTableGenerator td{
  vertical-align:middle;
  
  
  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:12px;
  font-family:Helvetica;
  font-weight:normal;
  color:#ffffff;
}.CSSTableGenerator tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #00953d 5%, #00953d 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00953d), color-stop(1, #00953d) );
  background:-moz-linear-gradient( center top, #00953d 5%, #00953d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00953d", endColorstr="#00953d");  background: -o-linear-gradient(top,#00953d,00953d);

  background-color:#00953d;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Helvetica;
  font-weight:bold;
  color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #00953d 5%, #00953d 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00953d), color-stop(1, #00953d) );
  background:-moz-linear-gradient( center top, #00953d 5%, #00953d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00953d", endColorstr="#00953d");  background: -o-linear-gradient(top,#00953d,00953d);

  background-color:#00953d;
}
.CSSTableGenerator tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}